{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<div class="container">    

    <!-- <a href="{%url 'new-video'%}">Add Video</a> -->
      
    <!-- Looping through videos   -->
    {% for video in videos %}

        <!-- displaying videos -->
        {{ video.title }}
        {{ video.videofile.cdn_url }}
        {{ video.description }}

    {% endfor %}    
    
    <h1>Video Uploader</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>
    
    <br><br>
    <video width='400' controls>
    <source src='{{ MEDIA_URL }}{{ videofile }}' type='video/mp4'>
    Your browser does not support the video tag.
    </video>
    <br><br>
    </p>

</div>
{% endblock %}