{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<div class="container-fluid">    
    <p>Click to add a new video</p>
    <button type="button" class="btn btn-outline-primary" role="button">
    <a href="{%url 'new-video'%}">Add Video</a></button>
    <hr>

    <!-- Looping through videos   -->
    <h4>My Videos</h4> <br>

    {% for post in video %}

        <!-- displaying videos -->
        <h4>{{ post.title }}</h4> <br>
        <video width='800' controls>
                <source src='{{ MEDIA_URL }}{{ post.videofile }}' type='video/mp4'>
                    Your browser does not support the video tag.
                    {{ post.videofile }}</video> <br>
        <p>Description: {{ post.description }}</p>
        <p>Posted by: {{ post.merchant }}</p> 
        
        <hr>

    {% endfor %}    

</div>
{% endblock %}