{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<div class="container">
    <!-- Looping through news   -->
    {% for video_item in news %}

    <div class="row">
        <!-- displaying Videos -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ video_item.title }} </h2>
            <section>
                {{ video_item.post }} <br><br>
                {{ video_item.pub_date}} <br>
                {{ video_item.editor}}
            </section>
        </div>
    </div>

    {% empty %}
    <div class="row">
        <h4 class="text-center">There Are No Video Items</h4>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %} {{block.super}} {% load staticfiles%}
<script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}